// colors
$mainColor: #1573e6;
$headerTextColor: black;
// colors

// font sizes
$fontNormal: 18px;
$fontBig: 26px;
$fontSmall: 16px;
// font sizes

// containers
$smallContainer: 800px;
$normalContainer: 1280px;
// containers
